* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  direction: rtl;
}

body {
  font-family: sans-serif;
  background-color: #f8fafc;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}