APP_NAME= 
ENV= 
DEBUG= 


DATABASE_URL= 
SECRET_KEY= 
ALGORITHM= 


ACCESS_TOKEN_EXPIRE_MINUTES =  
REFRESH_TOKEN_EXPIRE_DAYS =  

OTP_EXPIRATION_MINUTES =  
OTP_MAX_ATTEMPTS =  


SMS_API_KEY =  
SMS_SENDER_NUMBER =  

ZARINPAL_MERCHANT_ID = 
ZARINPAL_SANDBOX =  

PAYMENT_CALLBACK_URL =  
PAYMENT_SUCCESS_REDIRECT_URL = 
PAYMENT_FAILED_REDIRECT_URL = 

FRONTEND_URL =  